$main-color: #dc9329;

.side_category {
  background-color: white;
  color: $main-color;

  &:hover {
    background-color: rgba(220, 147, 41, 0.8);
    color: white;
  }
}
.list_card {
  background-color: #f8f9fa;

  &:hover {
    // background-color: rgba(128, 128, 128,.4);
    box-shadow: 0 3px 5px rgb(220, 147, 41, 0.8);
  }
  img {
    height: 200px;
    width: 100%;
    @media screen and (max-width: 576px) {
      & {
        height: 100px;
      }
    }
  }
}
