.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card .info {
  position: absolute;
  z-index: 3;
  color: white;
  opacity: 0;
}
.card .info button {
  padding: 0.6rem 1.2rem;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

.card .info .infoBtn1 {
  background: white;
  color: #dc9329;
}
.card .info .infoBtn1:hover {
  background: #dc9329;
  color: white;
}

.card .info .infoBtn2 {
  background: none;
  color: white;
}
.card .info .infoBtn2:hover {
  color: #ff4136;
}

.card .info .infoBtn3 {
  background: none;
  color: white;
}
.card .info .infoBtn3:hover {
  color: #dc9329;
}
