@import '@/styles/variables';

.cardStyle {
  max-height: '170px';
  border-color: #dc9329;
  @media screen and (max-width: $maxWidth) {
    max-height: '200px';
  }
}
.couponDesription {
  max-width: 300px;
  div {
    height: 40px;
    overflow-y: auto;
  }
  @media screen and (max-width: $maxWidth) {
    div {
      height: 50px;
      overflow-y: auto;
    }
  }
}
.cardEnd {
  position: absolute;
  top: 50px;
}

//歷史紀錄頁面
.usedCoupon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/coupon_stamp2.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: auto 55%;
    @media screen and (max-width: $maxWidth) {
      background-image: url('/images/coupon_stamp2.png');
      background-position: 5% 50%;
      background-size: 45% 40%;
    }
  }
  @media screen and (max-width: $maxWidth) {
    h6 {
      font-size: 0.95rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
.expiredCoupon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: url('/images/coupon_stamp.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: -1% 50%;
    background-size: auto 45%;
    @media screen and (max-width: $maxWidth) {
      background-image: url('/images/coupon_stamp.png');
      background-position: 5% 50%;
      background-size: auto 40%;
    }
  }
  @media screen and (max-width: $maxWidth) {
    h6 {
      font-size: 0.95rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
