.home-sec2 {
  .cate-select {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #dc942949; /* 遮罩的颜色和透明度 */
      opacity: 0; /* 初始时不可见 */
      transition: all 0.3s ease;
    }
    &:hover .card {
      height: 100%;
    }
    & img {
      transition: all 0.3s ease;
    }
    &:hover img{
      transform: scale(1.1);
    }
    &:hover::after {
      opacity: 1;
    }
  }
}
