.form-control {
  font-size: 14px;
}

/* .form-signin {
  max-width: 330px;
  padding: 1rem;
} */

.notice {
  font-size: 12px;
}

.invalid {
  border-color: red;
}

.invalid:focus {
  border-color: red;
  box-shadow: 0 0 0.25rem rgba(255, 0, 0, 0.5);
}

.error {
  font-size: 12px;
  color: red;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
  font-size: 12px;
}
.hr-sect:before,
.hr-sect:after {
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}
