.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-title-name {
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @media (max-width: 576px) {
      height: 38px;
    }
  }

  .cardImg {
    // width: 100%;
    // height: 300px;
    height: 250px;
    // object-fit: initial;
    // object-fit: cover;
    // object-fit: fill;
    overflow: clip;

    @media (max-width: 576px) {
      height: 100px; /* 在576px以下更改高度 */
    }
  }

  &:hover:before {
    opacity: 1;
  }

  &:hover .info {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 576px) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
    }
  }

  .info {
    position: absolute;
    z-index: 3;
    color: white;
    opacity: 0;

    button {
      padding: 0.6rem 1.2rem;
      outline: none;
      border: none;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;

      @media (max-width: 576px) {
        display: none;
      }
    }

    .infoBtn1 {
      background: white;
      color: #dc9329;

      &:hover {
        background: #dc9329;
        color: white;
      }
    }
    .invalidButton {
      background: #ddd;
      color: #aaa;
      cursor: default;

      &:hover {
        background: #ddd;
        color: #aaa;
      }
    }

    .infoBtn2 {
      background: none;
      color: white;

      &:hover {
        color: #ff4136;
      }
    }

    .infoBtn3 {
      background: none;
      color: white;

      &:hover {
        color: #dc9329;
      }
    }
  }

  .cartBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 40px;
    padding: 4px 0 0 0;
    background: #f8f8f8;
  }

  .ribbon:before {
    content: '';
    z-index: -1;
    overflow: hidden;
    transform: rotate(-135deg);
    width: 120px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 34px;
    right: -16px;
    clip-path: polygon(
      120px 20px,
      90px -10px,
      30px -10px,
      0px 20px,
      10px 30px,
      110px 30px
    );
    height: 20px;
    width: 120px;
  }

  .ribbon:after {
    content: 'NEW';
    z-index: 1;
    overflow: hidden;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 120px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    right: -30px;
    clip-path: polygon(
      120px 20px,
      90px -10px,
      30px -10px,
      0px 20px,
      10px 30px,
      110px 30px
    );
  }

  .outofstock:before {
    content: '';
    background: #777777;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .outofstock:after {
    content: 'OUT OF STOCK';
    position: absolute;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    width: 70px;
    height: 70px;
    top: calc(20% - 35px);
    left: calc(50% - 35px);
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    z-index: 2;
  }
}
