// // hover 翻轉動畫
// .nav-text {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: all 1s ease;
//   .inner-content {
//     transform: rotate(0deg);
//     transition: all 1s ease;
//   }
// }

.header {
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #171717;
  .header-logo {
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 60px;
    .header-logo {
      width: 150px;
      height: 30px;
    }
  }

  .footer {
    margin-bottom: 60px;
  }
}
