.mouse-trigger {
    cursor: none;
    position: relative;
    pointer-events: none;
    .mouse-ball {
        width: 70px;
        height: 70px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: opacity 0.1s ease;
    }
}