// 修改 swiper 的 scss
.gallery-swiper {
  .swiper-sm {
    .swiper-slide {
      opacity: 0.5;
      transition: all 0.1s ease;
    }
    .swiper-slide-thumb-active {
      opacity: 1;
      border: 3px solid $primary;
    }
  }
}
