// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #DC9329; // 這裡改成 figma 金色
$secondary: #9f9f9f;
$success: #7eb4e6;
$danger: #ff4136;
$dark: #171717; // 這裡改成 figma 黑色

// 按鈕圓角邊 button radius
$border-radius: 0.2em;
$border-radius-sm: 0.2em;
$border-radius-lg: 0.2em;

// 更改 ant-design 樣式配色
// $ant-primary-color: $primary;
// $ant-success-color: $success;
// $ant-danger-color: $danger;

// 固定card高度
// https://getbootstrap.com/docs/5.3/components/card/#grid-cards
$card-height: 100%;