// 變數 import 
@import './_variables.scss';

// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 這裡導入所有 bootstrap 樣式
// 最後營運階段(實務)可以用部份導入來進行最佳化
// 參考: https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓

// bs5內建圖示字體
// 如果有使用其它圖示字體可以註解不使用
@import '~bootstrap-icons/font/bootstrap-icons';

// google Noto Sans TC 字體 & Poppins 字體 (英文)
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&&family=Poppins:wght@500;600;700;800;900&family=VT323&display=swap';

// @fortawesome/fontawesome-free 可以直接使用 fontawesome 的圖
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// 引入 ant-design 
// @import '~antd/dist/antd.less';

// fixed for __next root div
#__next {
  flex-direction: column;
  height: 100%;
  display: flex;
}

// main > .container {
//   padding: 60px 15px 0;
// }

main {
  margin-top: 100px;
}

body {
  font-family: 'Poppins','Noto Sans TC Regular', Helvetica, Arial, 'PingFang TC',
    '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Basic web fallback
    'Helvetica Neue',
    Arial,
    // Linux
    'Noto Sans',
    'Liberation Sans',
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.form-member {
  max-width: 330px;
  padding: 1rem;
}

@media screen and (max-width: 576px) {
  main {
    margin-top: 60px;
  }  
}

// below is test only
