.rent-ad-swiper {
  height: 580px;
  .swiper-slide {
    .rent-ad-card {
      position: relative;
      height: 480px;
      opacity: 0.5;
      transition: all 0.3s ease;
      .rent-ad-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .rent-ad-name-box {
        position: absolute;
        bottom: 24px;
        left: 24px;
        opacity: 0;
        transition: all 0.3s ease;
        display: flex;
        align-items: flex-end;
        .rent-ad-name {
          background-color: #ffffffbb;
          width: 220px;
          height: 130px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 32px;
        }
        .rent-ad-arrow {
          width: 48px;
          height: 48px;
          background-color: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &.swiper-slide-active {
      .rent-ad-card {
        opacity: 1;
        height: 580px;
        .rent-ad-name-box {
          opacity: 1;
        }
      }
    }
  }
  .swiper-pagination {
    text-align: end;
  }
}

@media screen and (max-width: 576px) {
  .rent-ad-swiper {
    .swiper-slide {
      .rent-ad-card {
        .rent-ad-name-box {
          .rent-ad-name {
            width: 120px;
            height: 75px;
            padding: 15px;
          }
          .rent-ad-arrow{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
